/* ------------------- GLOBAL ------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  margin: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  position: fixed; 
  top: 0;
  width: 100vw;
  z-index: 10;
}

.navbarScrolled {
  box-shadow: 0 20px 30px -2px rgba(0,0,0,.2);
  transition: box-shadow 1s;
}

#navSocials, #burger {
  margin: 0 10px 0 10px;
}

.contactIcon {
  height: 30px;
  width: 30px;
  padding: 15px;
  margin: auto;
}

#logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#logo img {
  height: 25px;
  width: auto;
  padding: 5px 0 5px 0;
}

.burgerMenu {
  align-self: flex-end;
  display: none;
}

.burgerMenuShow {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
}

.burgerlink {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  width: 100vw;
  padding: 5px;
  margin: 10px 0;
}

.burgerlink:hover {
  background-color: rgba(255,255,255, 0.25);
}

.burgerlink:active {
  background-color: rgba(255,255,255, 0.5);
}

#burger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* --- Animations for hamburger --- */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 7px);
  transform: rotate(-45deg) translate(-2px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -9px);
  transform: rotate(45deg) translate(-4px, -9px);
}

/* --------------------------------- */

.menu {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  margin: auto 0;
}

.navlink {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.25px;
  width: auto;
  padding: 0 40px;
  margin: 0;
}

.navlink:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(50px + 2vw);
  margin: 0;
  text-align: center;
  letter-spacing: 12px;
}

h2 {
  font-size: calc(10px + 0.5vw);
  margin: 0;
  line-height: 100%;
  font-weight: lighter;
  letter-spacing: 6px;
}

h3 {
  text-align: center;
  margin: 0;
  width: 100%;
  padding-bottom: 20px;
  /* padding-top: 60px; */
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: lighter;
}

#arrow {
  padding: 5px;
}

.navtip {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navtip p {
  margin: 10px;
  animation: fade 3s 0.5s ease-in-out infinite;
}

.arrow {
  font-size: 20px;
  animation:  fade 3s 0.5s ease-in-out infinite,
              bounce 3s ease-in-out infinite;
}


/* ------------------ PAGE 1: HOMEPAGE -------------------- */

#section1_Jumbotron {
  flex-direction: column;
  height: 100vh;
  background: #000000 url(/resources/images/DSC1136.png);
  background-position: center 25px;
  background-size: 110vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  margin: 0;
}

#cursor {
  font-weight: 100;
  font-size: calc(10px + 0.5vw);
  color: #ffffff;
  animation: 1s blink step-end infinite;
}

#jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30vh;
}

#latestContentContainer {
  width: 380px;
  height: 60px;
  margin-left: auto;
  margin-top: 35vh;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
}

#latestContentContainer > p {
  letter-spacing: 1.5px;
  line-height: 1em;
}

#latestContentContainer span {
  font-weight: 700;
}


/* -------------------- PAGE 2: ABOUT ME -------------------- */

#section2_AboutMe {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #F5F5F5;
  color: #070707;
}

.container {
  display: flex;
  /* margin: 50px 0; */
  background-color: transparent;
}

.box {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 80%;
  height: 70vh;
  margin: 50px;
  padding: 5% 10%;
  max-width: 1000px;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.05);
}

#AboutMeImgContainer {
  width: 50%;
}

#AboutMeImg {
  width: auto;
  height: 100%;
  display: block;
}

#AboutMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  font-weight: lighter;
  width: 50%;
  max-width: 900px;
  padding-left: 40px;
}

#AboutMeHeader {
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 3.5px;
}

#AboutMeHeader span {
  color: #BDBDBD;
}

#AboutMeHeader #location {
  color: #BDBDBD;
  font-size: 14px;
}

#AboutMeQuote {
  margin: 20px 0 20px 0;
}

#AboutMeQuote blockquote {
  font-size: 20px;
  margin: 0;
  font-style: italic;
}

#AboutMeQuote #source {
  margin: 0;
  line-height: 0;
  font-size: 12px;
  text-align: right;
}

hr {
  width: 100%;
  border: 1px solid #F5F5F5;
}

#carouselControls {
  display: flex;
  align-items: center;
  float: right;
}

#carouselControls > * {
  margin: 0 10px;
}

#playPause {
  justify-content: center;
  cursor: pointer;
}

.playPauseButton {
  display: block;
  margin: 0 auto;
}

#playPause img {
  width: 15px;
  height: 15px;
}

.carouselNav {
  font-size: 30px;
  cursor: pointer;
  width: auto;
}

.carouselNav:hover {
  background-color: #ffffff;
}

.carouselDots {
  text-align: center;
  width: 60px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #c8c8c8;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.activeDot {
  background-color: #717171;
}

.inactive {
  display: none;
}

.active {
  display: block;
  animation: slideLeft 0.75s, fadeIn 0.75s;
}

.skill {
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.skill * {
  /* margin: auto; */
}

.skill h4 {
  font-size: 20px;
  width: 50%;
  margin: 10px 0;
}

.skill p {
  font-weight: lighter;
  font-size: 16px;
}


/* -------------------- PAGE 3: PROJECTS ---------------------- */

#section4_Projects {
  flex-direction: column;
  background-color: #ffffff;
  color: #070707;
  width: 100vw;
  margin: 50px 0 0 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project_title {
  background-color: transparent;
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}

.project {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 75vw;
  max-height: 325px;
  text-decoration: none;
}

.projectImg {
  width: 100vw;
  object-fit: cover;
}

.project_title {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 30px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
}

.projectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.4);
}

.projectOverlay:hover {
  opacity: 1;
}

#footer {
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #070707;
  color: #ffffff;
  padding: 50px 0 60px 0;
  margin: 0;
}

.contactMe {
  width: 80vw;
  padding: 10px;
  text-align: center;
}

#Contact {
  padding-top: 0;
}

#email {
  width: 80vw;
  padding: 20px 0;
  text-align: center;
}

#email a {
  text-decoration: none;
  color: #ffffff;
  font-weight: lighter;
}

#email a:hover {
  text-decoration: underline;
}


/* ------------------- UTILITY CLASSES ------------------- */

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 0.5s ease-in-out;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s ease-in-out;
}

.hide {
  display: none;
}

.show {
  display: block;
}


/* -------------------- KEYFRAMES -------------------- */

@keyframes fade {
  0%    {  opacity: 1; }
  40%   {  opacity: 0.25; }
  60%   {  opacity: 1; }
  100%  {  opacity: 1; }
}


@keyframes blink {
  0%    {  color: transparent; }
  50%   {  color: #ffffff; }
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideLeft {
  0%    { transform: translateX(100px); }
  100%  { transform: translateX(0px); }
}

@keyframes bounce {
  0%    { transform: scale(1,1) translateY(0); }
  30%   { transform: scale(1,1) translateY(-10px); }
  60%   { transform: scale(1,1) translateY(-10px);}
  67%   { transform: scale(1,1) translateY(0); }
  70%   { transform: scale(1.1,0.9) translateY(0); }
  80%   { transform: scale(0.9,1.1) translateY(-2px); }
  /* 8%   { transform: scale(1,1) translateY(-2px); } */
  85%   { transform: scale(1,1) translateY(0); }
  100%  { transform: scale(1,1) translateY(0); }
}

/* -------------------- MEDIA QUERIES -------------------- */

@media only screen and (min-width: 900px) {
  #burger {
    display: none;
  }

  .menu {
    display: flex;
  }

  .skillImg {
    width: 40%;
    text-align: center;
  }

  .skill img {
    width: 100px;
    height: 100px;
  }

  .skill p {
    /* width: 50%; */
    font-weight: lighter;
    text-align: left;
  }

  .projects {
    justify-content: space-around;
  }

  .project {
    width: 33vw;
    margin: auto;
    margin-bottom: 5px;
    max-height: 500px;
  }

  .projectImg {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}