*{
  background-color: #000000;
  /* background-color: #151515; */
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Electrolize', sans-serif;
  font-size: calc(32px + 2vw);
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: calc(10px + 1vw);
  margin: 0;
  line-height: 100%;
  font-weight: lighter;
}

#cursor {
  font-weight: 100;
  font-size: 2.5vw;
  color: #ffffff;
  animation: 1s blink step-end infinite;
}

hr {
  border-color: #2e2e2e;
  padding: 0;
  margin: 0;
}

.container_pg1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0 25px 0 25px;
}

.separator {
  margin: 0 25px 0 25px;
}

.contactIcon {
  height: 25px;
  width: 25px;
  padding: 5px;
  margin: auto;
}

.menu {
  align-self: flex-end;
  display: none;          /* Temporary removal until hamburger is working */
}

.burger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* --- Animations for hamburger --- */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* --------------------------------- */

.navlink {
  text-decoration: none;
  padding: 5px;
  margin: auto;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30vh;
}

.navtip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  opacity: 0;
  /* position: absolute; */
  /* left: 50%;
  right: 50%; */
  /* transform-origin: 50% 50%; */
  /* transform: translate3d(-50%, -50%, 0); */
  animation: fade 3s 0.5s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5%;
  width: 98%;
}

.arrow:before, .arrow:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 1.5px;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 15px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

.container_pg2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 300px;
  margin: 20px;
  background-color: #191919;
  box-shadow: 2px 5px 5px #070707;
}

.project_title {
  background-color: transparent;
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
  padding: 10px 10px 10px 10px;
}

#project_1 {
  background: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.9)), 
    url("/resources/images/projects/claudia-587578-unsplash.jpg");
    background-size: cover;
}

#project_2 {
  background:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.9)),
    url("/resources/images/projects/photo-1559738140-bc41e4e5d118(1).jpeg");
  background-size: cover;
}

#project_3 {
  background:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.9)),
    url("/resources/images/projects/WithComp.jpg");
  background-size: cover;
}

#projectMore {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#moreProjects {
  background-color: #191919;
  color: #ffffff;
  font-weight: lighter;
  font-size: 16px;
}


@keyframes fade {
  0% {
    opacity: 0.15;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0.15;
  }
}


@keyframes blink {
  0% {
    color: transparent;
  }

  50% {
    color: #ffffff;
  }
}