/* ------------------- GLOBAL ------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  margin: 0;
  background-color: #0d0d0d;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  position: fixed; 
  top: 0;
  width: 100vw;
  z-index: 10;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.5s;
}

.navbarScrolled {
  box-shadow: 0 20px 30px -2px rgba(0,0,0,.2);
  transition: box-shadow 1s;
  background-color: #0d0d0d;
}

#navSocials, #burger {
  margin: 0 10px 0 10px;
}

.contactIcon {
  height: 25px;
  width: 25px;
  padding: 5px;
  margin: auto;
}

#logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#logo img {
  height: 40px;
  width: auto;
  padding: 5px 0 5px 0;
}

.burgerMenu {
  align-self: flex-end;
  display: none;
}

.burgerMenuShow {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
}

.burgerlink {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  width: 100vw;
  padding: 5px;
  margin: 10px 0;
}

.burgerlink:hover {
  background-color: rgba(255,255,255, 0.25);
}

.burgerlink:active {
  background-color: rgba(255,255,255, 0.5);
}

#burger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* --- Animations for hamburger --- */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 7px);
  transform: rotate(-45deg) translate(-2px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -9px);
  transform: rotate(45deg) translate(-4px, -9px);
}

/* --------------------------------- */

.menu {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  margin: auto 0;
}

.navlink {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.25px;
  width: auto;
  padding: 0 20px;
  margin: 0;
}

.navlink:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(25px + 3vw);
  margin: 0 20px;
  text-align: center;
  letter-spacing: 12px;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1s;
}

h2 {
  font-size: calc(10px + 0.5vw);
  text-align: center;
  margin: 0 20px;
  line-height: 100%;
  font-weight: lighter;
  letter-spacing: 0.25vw;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1.5s;
}

h3 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: lighter;
}

.container {
  display: flex;
  background-color: transparent;
}

#arrow {
  padding: 5px;
}

.navtip {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1s both;
  animation-delay: 2s;
}

.navtip p {
  margin: 10px;
  animation: fade 3s 0.5s ease-in-out infinite;
}

.arrow {
  font-size: 20px;
  animation:  fade 3s 0.5s ease-in-out infinite,
              bounce 3s ease-in-out infinite;
}


/* ------------------ PAGE 1: HOMEPAGE -------------------- */

#section1_Jumbotron {
  flex-direction: column;
  height: 100vh;
  background: #0d0d0d url(/resources/images/Background_Mockups1.png);
  background-position: center top;;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0;
  animation: fadeIn 0.5s both;
  animation-delay: 0.5s;
  border-top: 50px;
}

#cursor {
  font-weight: 100;
  font-size: calc(10px + 0.5vw);
  color: #ffffff;
  animation: 1s blink step-end infinite;
}

#jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 35vh;
}

#latestContentContainer {
  width: 380px;
  height: 60px;
  margin-left: auto;
  margin-top: 35vh;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
}

#latestContentContainer > p {
  letter-spacing: 1.5px;
  line-height: 1em;
}

#latestContentContainer span {
  font-weight: 700;
}


/* -------------------- PAGE 2: ABOUT ME -------------------- */

#section2_AboutMe {
  background-color: #F5F5F5;
  color: #070707;
  display: flex;
  justify-content: center;
}

.box {
  background-color: #ffffff;
  margin: 5vw;
  padding: 7vw;
  box-shadow: 0 5px 25px 0 rgba(0,0,0,0.2);
}

#AboutMeImgContainer {
  margin: auto;
  max-width: 350px;
  height: auto;
}

#AboutMeImgContainer > img{
  width: 100%;
  height: 100%;
}

#AboutMeContainer {
  font-size: 14px;
  font-weight: lighter;
  padding: 10px 0;
  width: 100%;
  max-width: 736px;
  margin: auto;
}

#AboutMeHeader {
  padding-top: 10px;
}

#AboutMeHeader * {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

#AboutMeHeader span {
  color: #BDBDBD;
}

#AboutMeHeader #location {
  color: #BDBDBD;
  font-size: 14px;
}

#AboutMeQuote blockquote {
  font-size: 16px;
  margin: 0;
  font-style: italic;
}

#AboutMeQuote #source {
  margin: 0;
  line-height: 0;
  font-size: 10px;
  text-align: right;
}

hr {
  width: auto;
  border: 1px solid #F5F5F5;
}

#carousel {
  width: auto;
  margin: auto;
}

#carouselControls {
  display: flex;
  align-items: center;
  justify-content: center;

}

#carouselControls > * {
  margin: 0 10px;
}

#playPause {
  justify-content: center;
  cursor: pointer;
}

.playPauseButton {
  display: block;
  margin: 0 auto;
}

#playPause img {
  width: 15px;
  height: 15px;
}

.carouselNav {
  font-size: 30px;
  cursor: pointer;
  width: auto;
}

.carouselNav:hover {
  background-color: #ffffff;
}

.carouselDots {
  text-align: center;
  width: 60px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #c8c8c8;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.activeDot {
  background-color: #717171;
}

.inactive {
  display: none;
}

.active {
  display: block;
  animation: slideLeft 0.75s, fadeIn 0.75s;
}

#skillContainer {
  margin-bottom: 20px;
}

#skillContainer > * {
  flex-wrap: wrap;
  align-items: center;
}

#skillContainer h4 {
  font-size: 16px;
  margin: 10px 0;
}

#skillContainer p {
  font-weight: lighter;
  font-size: 14px;
}


/* -------------------- PAGE 3: PROJECTS ---------------------- */

#section4_Projects {
  flex-direction: column;
  background-color: #ffffff;
  color: #070707;
  width: 100vw;
  padding: 5px 0 0 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project_title {
  background-color: transparent;
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}

.project {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 75vw;
  max-height: 325px;
  text-decoration: none;
}

.projectImg {
  width: 100vw;
  object-fit: cover;
  object-position: 100% 50%;
}

.project_title {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 30px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
}

.projectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.4);
}

.projectOverlay:hover {
  opacity: 1;
}

#footer {
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #0d0d0d;
  color: #ffffff;
  padding: 50px 0 60px 0;
  margin: 0;
}

#footer > div {
  width: 100%;
  text-align: center;
}

#footerLogo {
  height: 100px;
  width: auto;
}

.contactMe {
  width: 80vw;
  padding: 10px;
  text-align: center;
}

#Contact {
  padding-top: 0;
}

#email {
  width: 80vw;
  padding: 20px 0;
  text-align: center;
}

#email a {
  text-decoration: none;
  color: #ffffff;
  font-weight: lighter;
}

#email a:hover {
  text-decoration: underline;
}


/* ------------------- UTILITY CLASSES ------------------- */

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 0.5s ease-in-out;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s ease-in-out;
}

.hide {
  display: none;
}

.show {
  display: block;
}


/* -------------------- KEYFRAMES -------------------- */

@keyframes fade {
  0%    {  opacity: 1; }
  40%   {  opacity: 0.25; }
  60%   {  opacity: 1; }
  100%  {  opacity: 1; }
}


@keyframes blink {
  0%    {  color: transparent; }
  50%   {  color: #ffffff; }
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideLeft {
  0%    { transform: translateX(10vw); }
  100%  { transform: translateX(0px); }
}

@keyframes bounce {
  0%    { transform: scale(1,1) translateY(0); }
  30%   { transform: scale(1,1) translateY(-10px); }
  60%   { transform: scale(1,1) translateY(-10px);}
  67%   { transform: scale(1,1) translateY(0); }
  70%   { transform: scale(1.1,0.9) translateY(0); }
  80%   { transform: scale(0.9,1.1) translateY(-2px); }
  85%   { transform: scale(1,1) translateY(0); }
  100%  { transform: scale(1,1) translateY(0); }
}

/* @keyframes slideup {
  0%    { transform: translateY(-100%); }
  30%   { transform: translateY(-50%); }
  50%   { transform: translateY(-10%); }
  60%   { transform}
} */

@keyframes slide-in-top {
  0%    { transform: translateY(-100%); opacity: 0; }
  100%  { transform: translateY(0); opacity: 1; }
}

/* -------------------- MEDIA QUERIES -------------------- */

@media all and (max-height: 550px) {

  #AboutMeImgContainer > img {
    display: none;
  }
}


@media all and (min-width: 980px) {
  #burger {
    display: none;
  }

  .menu {
    display: flex;
  }

  .projects {
    justify-content: space-around;
  }

  .project {
    width: 33vw;
    margin: auto;
    margin-bottom: 5px;
    max-height: 500px;
  }

  .projectImg {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: 100% 0;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw 7vw;
  }

  #AboutMeContainer {
    width: 350px;
    padding-left: 20px;
  }

  #carouselControls {
    width: 50%;
    float: right;
    margin-top: -5px;
  }

  #skillContainer h4 {
    width: 50%;
    padding-top: 5px;
  }
  
}
